body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3rem;
}

header {
  background-color: chartreuse;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

header ul li {
  list-style: none;
  padding: 1rem;
}

a {
  text-decoration: none;
}

main {
  padding: 2rem;
  min-height: calc(65vh - 2rem);
}

footer {
  background-color: chartreuse;
  padding-left: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 4rem;
}

.Pokeist {
  display: flex;
}

.card {
  height: 15rem;
  width: 15rem;
  background-color: aqua;
  border-radius: 5px;
  border-style: solid;
  border-width: medium;
  border-color: darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
