body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

h1 {
  font-size: 3rem;
}

header {
  background-image: url("./assets/images/pokebackground.webp");
  /* background-position: center center; */
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

header img {
  width: auto;
  height: 6rem;
  filter: brightness(1.2);
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

header ul li {
  font-family: "Bangers", cursive;
  font-size: 2rem;
  text-shadow: 2px 2px 5px rgb(14, 14, 14), 2px 2px 5px rgb(14, 14, 14),
    2px 2px 5px rgb(14, 14, 14), -2px -2px 5px rgb(14, 14, 14),
    -2px -2px 5px rgb(14, 14, 14), -2px -2px 5px rgb(14, 14, 14);
  list-style: none;
  padding: 1rem;
}

/* a:visited {
  color: green;
} */

header ul li a {
  text-decoration: none;
  color: rgb(255, 255, 0);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgb(24, 147, 184);
  transition: 1s;
}

header ul li:hover {
  transform: scale(110%);
  transition: 1s;
}

main {
  padding: 2rem;
  min-height: calc(65vh - 2rem);
}

footer {
  background-image: url("./assets/images/pokebackground.webp");
  /* background-position: center center; */
  background-position: 100% 77%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-color: rgb(229, 255, 0);
  padding-left: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  font-family: "Londrina Solid", cursive;
}

.Pokelist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  height: 21rem;
  width: 17rem;
  background-color: rgb(244, 244, 244);
  box-shadow: 2px 2px 5px black, 0 0 5px rgb(63, 63, 63),
    4px 4px 5px rgb(83, 83, 83);
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  border-color: rgb(212, 212, 212);
  padding: 1rem;
  transition: 1s;
}

.innercard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innercard a {
  font-family: "Londrina Solid", cursive;
  font-size: 1.3rem;
}

.card:hover {
  transform: scale(110%);
  transition: 1s;
  box-shadow: 0px 0px 2px black, 0 0 1px rgb(63, 63, 63),
    1px 1px 2px rgb(83, 83, 83);
}

.pokeNumber {
  text-align: right;
  font-family: "Bangers", cursive;
}

.pokeName {
  font-family: "Bangers", cursive;
  color: rgb(255, 255, 25);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 153, 199);
  font-size: 2rem;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  text-shadow: 0 0 2px rgb(51, 51, 51), 0 0 2px rgb(51, 51, 51),
    0 0 2px rgb(51, 51, 51);
}

.card img {
  height: 13rem;
  width: 13rem;
}

footer img {
  width: auto;
  height: 6rem;
}

h3 {
  text-align: center;
  font-family: "Bangers", cursive;
  font-size: 4rem;
  color: yellow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 153, 199);
  margin: 2rem;
  text-shadow: 0 0 7px rgb(231, 231, 231), 0 0 7px rgb(231, 231, 231);
}

.pokecardCard {
  display: flex;
}

.pokecardImg {
  margin: 0 4rem;
}

.pokecardImg img {
  width: auto;
  height: 20rem;
}

.pokecardDetails {
  margin-right: 7rem;
  font-size: 1.5rem;
  font-family: "Londrina Solid", cursive;
}

.pokecardStats {
  margin-right: 4rem;
  font-size: 1.5rem;
  font-family: "Londrina Solid", cursive;
}

.pokecardImg2 img {
  width: auto;
  height: 20rem;
}
